* {
    
    background: black; 
    font-family: 'Recursive', sans-serif; 
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    
} 

.title_main{
    font-size: 8vw; 
    cursor: pointer;
}